h1{
    text-align: center;
    background-color: rgb(255, 136, 0);
    padding: auto;
    margin-left: 30%;
    margin-right: 40%;
    border-radius: 50%;
    color: rgb(117, 55, 10);
}
div{
    background-color: black;
    color: grey;
    margin-left: 70%;
    padding-bottom: 5px;
}
h2{
    text-align: center;
}